.row-product {
    border: 1px solid #999;
    padding: .5rem;
    border-bottom: none;
}

.row-product:last-child {
    border-bottom: 1px solid #999;
}

.row-product * {
    white-space: nowrap;  /*规定段落中的文本不进行换行*/
    overflow-x: scroll;  /*对超出的文本内容可进行水平滚动查看*/
}

.product-wrap a {
    margin-right: 1rem;
}

