<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 1、导入spring-dao.xml配置文件 -->
    <import resource="classpath:spring/spring-dao.xml"/>

    <!-- 2、包扫描 -->
    <context:component-scan base-package="com.cd.o2o.service"/>

    <!--3、配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="datasource"/>
    </bean>

    <!--配置基于注解驱动的声明式事务,使用的事务管理器是transactionManager-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>